h2{
    padding-top: 15px;
}
.navi{
    padding-left: 70%;
}
a{
    padding: 10px;
    text-decoration: none;
    margin-right: 5px solid grey;
    color: black;
    background-color: grey;
    margin: 0%;
    border-radius: 10%;
}
a:hover{
    background-color: black;
    color: white;
}
img{
    width: 200px;
    height: 300px;
    /* padding-left: 100PX; */
    border-radius: 15%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: antiquewhite;
    border-radius: 20px;
    /* padding: 5px; */
  }
  
  .grid-item {
    background-color: azure);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding-LEFT: 20px;
    font-size: 25px;
    /* text-align: center; */
  }
  p{
    font-size: 30px;
  }